#mainImg {
  height: 500px;
}
.img-item {
  padding: 10px;
}
#mImg {
  height: 500px;
}
.img-item-second-slider {
  padding: 10px;
}
#Img {
  height: 500px;
}
.img-item-third-slider {
  padding: 10px;
}